

body {
    font-family: 'Barlow', sans-serif;
    background: rgb(247, 250, 251);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.numbers-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    width: 100vw;
    position: relative;
    margin: 0;
    background: url('https://best20.in/wp-content/uploads/2022/12/NIT-Jalandhar-Image-2048x964.jpeg') no-repeat center center fixed;
    background-size: cover;
    min-height: 30vh; /* Adjusted */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.numbers-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.number-item {
    text-align: center;
    color: white;
    margin: 20px;
    flex-basis: 30%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
}

.number-item p {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.number-item h2 {
    font-size: 28px;
    margin-top: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.number-item h2::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    background-color: rgb(31, 172, 220);
    margin: 5px auto;
}

.number-item .icon {
    font-size: 36px;
    margin: 8px 0;
    color: rgb(31, 172, 220);
    transition: color 0.3s ease-in-out;
}

.number-item:hover .icon {
    color: orange;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .numbers-section {
        background-attachment: scroll;
        min-height: 25vh; /* Adjusted */
    }

    .number-item {
        flex-basis: 45%;
    }

    .number-item p {
        font-size: 48px;
    }

    .number-item h2 {
        font-size: 20px;
    }

    .number-item .icon {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .numbers-section {
        min-height: 20vh; /* Adjusted */
    }

    .number-item {
        flex-basis: 100%;
    }

    .number-item p {
        font-size: 36px;
    }

    .number-item h2 {
        font-size: 18px;
    }

    .number-item .icon {
        font-size: 20px;
    }
}
