.tileContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* border:1px solid black; */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

body {
    height: 500px;
    padding: 0;
    margin: 0;
    font-family: 'Barlow', sans-serif;
}

.tile {
    text-align: left;
    /* border:1px solid blue; */
    padding: 45px 20px;
    margin: 5px;
    width: 40%;
    text-emphasis-style: none;
    font-weight: 700;
    font-size: 1.5rem;
    background-color: red;
    text-decoration: none;
}

@media screen and (max-width: 950px) {
    .tile {
        width: 100% !important;
    }
}