<section class="footer">
    <!-- <div class="footer-row">
      <div class="footer-col">
        <h4 style="text-align: center">Links</h4>
        <ul class="links">
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Credits</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4 style="text-align: center">Resources</h4>
        <ul class="links">
          <li><a href="#">Study Materials</a></li>
          <li><a href="#">Career Guidance</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4 style="text-align: center">Legal</h4>
        <ul class="links">
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Disclaimer</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h4>Newsletter</h4>
        <p>
          Subscribe to our newsletter for updates, resources, and mentorship
          opportunities.
        </p>
        <form action="#">
          <input type="email" placeholder="Your email" required />
          <button type="submit">SUBMIT</button>
        </form>
        <div class="icons">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-github"></i>
        </div>
      </div>
    </div> -->
    <div class="center" style="text-align: center " class="footer_final">
      copyright &copy; www.nitj.ac.in All rights reserved!
    </div>
  </section>
  
  <script>function toggleMenu() {
    var navLinks = document.querySelector(".nav-links");
    navLinks.classList.toggle("active");
    }</script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="gallery.js" defer></script>
  <script src="script.js"></script>
  
</body>
</html>
