<body>
  <nav class="navbar">
    <div class="logo">
      <img src="../images/sampLogo2.png" alt="Logo" />
      <span class="website-name glow">SAMP</span>
    </div>

    <ul class="nav-links">
      <li>
        <a href="https://www.nitj.ac.in/" target="_blank"><span class="home-icon"></span>NITJ</a>
      </li>
      <li>
        <a href="../index.html" class="active-link">Home</a>
      </li>
      <li><a href="../index.html">About</a></li>
      <li>
        <div class="dropdown">
          <button onclick="myFucntion()" class="dropbtn">
            SAMP Committee
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="../iSamp.html">I-SAMP</a>
            <a href="../dSamp.html">D-SAMP</a>
          </div>
        </div>
      </li>
      <li>
        <div class="search-container">
          <input type="text" placeholder="Search..." class="search-input" />
          <img src="../images/searchInterfaceSymbol.png" alt="Search Icon" class="search-icon" />
        </div>
      </li>
    </ul>
    <div class="burger-menu" onclick="toggleMenu()">&#9776;</div>
  </nav>
</body>