@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
      --dark-purple: hsla(242, 83%, 7%, 1);
      --accent: hsla(201, 96%, 32%);
      --light-purple: hsla(242, 83%, 98%);
      --accent-orange: hsla(12, 87%, 56%, 1);
    }
  
    sub,
    sup {
      font-size: 50%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
      font-weight: normal;
    }
    sup {
      top: 0em;
      vertical-align: super;
    }
  }