<div class="bg-slate-800">
    <div class="container flex flex-col justify-between px-4 lg:px-2 text-white lg:flex-row">
        <div class="flex basis-1/3 flex-col py-8 border-slate-500 lg:border-r">
            <div class="flex flex-row items-center gap-x-3 pb-3">
                <img src="/public/assets/images/logo_250.png" alt="NITJ logo" class="h-16 w-16" />
                <p class="font-semibold text-white lg:text-xl">
                    Dr B R Ambedkar National Institute of Technology Jalandhar
                </p>
            </div>
            <div class="p-5">
                <div class="pb-1.5 lg:w-5/6">
                    <i class="fas fa-location-dot pr-2"></i>
                    <span class="opacity-90">G.T Road, Amritsar Bypass,
                        Jalandhar,
                        Punjab, India-144008</span>
                </div>
                <div class="align-center flex flex-row pb-3.5">
                    <i class="fas fa-phone mt-1 pr-2"></i>
                    <h3 class="opacity-90">
                        +91-0181-5037855, 2690301, 2690453, 3082000
                    </h3>
                </div>
                <div id="social-links" class="flex flex-col bg-slate-800">
                    <div class="flex flex-row gap-10 mt-4">
                        <div class="text-xl">
                            <a href="https://www.facebook.com/NITJofficial/" target="_blank">
                                <i class="fa-brands fa-facebook text-xl hover:text-yellow-300"></i></a>
                        </div>
                        <div class="text-xl">
                            <a href="https://twitter.com/NITJofficial?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"
                                target="_blank">
                                <i class="fab fa-twitter text-xl hover:text-yellow-300"></i></a>
                        </div>
                        <div class="text-xl">
                            <a href="https://in.linkedin.com/school/dr-b-r-ambedkar-national-institute-of-technology-jalandhar-official/"
                                target="_blank">
                                <i class="fa-brands fa-linkedin text-xl hover:text-yellow-300"></i></a>
                        </div>
                        <div class="text-xl">
                            <a href="https://www.instagram.com/nitjofficial/?hl=en" target="_blank">
                                <i class="fa-brands fa-instagram text-xl hover:text-yellow-300"></i></a>
                        </div>
                        <div class="text-xl">
                            <a href="https://www.youtube.com/c/NITJOfficial" target="_blank">
                                <i class="fa-brands fa-youtube text-xl hover:text-yellow-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden basis-2/3 py-8 lg:flex" id="quicklinks">
        </div>
    </div>
</div>

<div class="border-t border-slate-500 bg-slate-800">
    <div class="container flex flex-col p-5 text-center text-white lg:flex-row justify-between">
        <div class="pb-2.5 text-xs lg:pb-0 lg:text-base">
            © Copyright 2023, All Rights Reserved NIT Jalandhar
        </div>
        <div class="text-xs lg:text-base">
            Developed in-house by<a href="/admin/students.html"
                class="mx-1 hover:text-yellow-300 hover:underline lg:mx-2">Website Development and Management Committee
                (WDMC)</a>
        </div>
    </div>
</div>