.map {
    width: 100%;
    aspect-ratio: 1/1;
    margin: auto;
    border: 2px solid navy;
    border-radius: 15px !important;
}

body {
    background-color: rgb(198, 214, 242);
    color: rgb(37, 57, 133);
    /* padding: 10px; */
    font-size: large;
    height: 110%;
}

.mapContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.mapCraddle {
    width: 100%;
    margin: 10px;
    text-align: center;
}

@media only screen and (max-width: 950px) {
    .mapContainer {
        flex-direction: column;
    }
}