#dean-div {
    
    .imageSection
    {
        height: 50%;
    }

    .box
    {
        font-size: 0.75rem;
        position: absolute;
        bottom:0;
        right:0;
        margin: calc(24px + 10px) calc(24px + 10px);
        padding: 3px 10px;
        gap: 0px;
        border-radius: 20px ;
        opacity: 0px;
        background-color: white;
    }
    
    .readMore:hover {
        transform: scale(1.1);
        text-decoration: underline;
    }
    .readMore {
        transition: all 0.2s ease-in-out;
    }

    .image-shadow
    {
        box-shadow: 0px 0px 20px black ;
    }
    
    .accent
    {
        color: #00387A;
    }
    
    .message{
        width: 60%;
    }
    
    .imageSection
    {
        position: relative;
    }
    
    @media (max-width:770px) {
        .image{
            height: 280px;
        }
    }
    
    @media (max-width:430px) {
        .message
        {
            width: 100%;
        }
        .imageSection{
            width: 100%;
        }
        
    }

    @media (max-width:430px) and (min-width:380px) {
        /* .box
        {
            right: 100px;
        } */
    }
 
}


