#dean-div {

    .image
    {
        width: 401px;
        height: 300px;
    }
    .imageSection
    {
        width: 501px;
        position: relative;
    }

    .box
    {
        font-size: 0.75rem;
        position: absolute;
        width: 160px;
        height: 60px;
        right: 120px; 
        top: 230px;
        gap: 0px;
        border-radius: 25px ;
        opacity: 0px;
        background-color: white;
    }
    
    .image-shadow
    {
        box-shadow: 0px 0px 20px black ;
    }
    
    .accent
    {
        color: #00387A;
    }
    
    .message{
        width: 60%;
    }
    
    
    
    @media (max-width:770px) {
        .image{
            height: 280px;
        }
        .box
        {
            top: 200px;
            right: 80px;
        }
    }
    
    @media (max-width:430px) {
        .message
        {
            width: 100%;
        }
        .imageSection{
            width: 100%;
        }
        
    }

    @media (max-width:430px) and (min-width:380px) {
        .box
        {
            right: 100px;
        }
    }
    
    @media (min-width:1280px)
    {
        .box{
            top: 220px;
            right: 180px;
        }
    }
     
}


