.map {
    /* height: 100%; */
    /* width: 80%; */
    width: 100%;
    /* aspect-ratio: 20/13; */
    aspect-ratio: 20/18;
    margin: auto;
    /* border: 2px solid navy; */
    border-radius: 12px !important;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
    border: #284c84 3px solid;
}

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

.leaflet-container *:focus {
    outline: none;  /* Custom thin dashed outline */
    /* outline-offset: 3px;       Optional offset for spacing */
}

.maptitle {
    z-index:10;
    bottom: 10px;
    background-color: #284c84;
    /* height: 15%; */
    padding: 5px;
    font-size: 0.95rem;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    position:absolute;
    right:15%;
    left:15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p {
        text-align: center;
    }
}


.mapContainer {
    font-size: large;
    /* background-color: rgb(198, 214, 242); */
    color: rgb(37, 57, 133);
    font-family: 'Barlow', sans-serif;
    background-image: url('./mapbg.jpg');
    background-size: cover;
    /* margin: -10px 0px 0px 0px; */
    /* margin: 0px 0px -20px 0px; */
    margin: -30px 0px -30px 0px;
}
.mapCraddleCraddle {
    gap: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
}

.mapCraddle {
    margin-top: -30px;
    width: 28%;
    text-align: center;
    position: relative;
    z-index: 10;
}

.heading {
    font-size: 2rem;
    font-weight: 800;
    color: #0056b3;
    text-align: center;
    letter-spacing: -1.5px;
    line-height: 1.2;
    position: relative;
}

.heading::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background: #007bff;
    margin: 1rem auto;
    border-radius: 2px;
}

@media only screen and (max-width: 950px) {
    .mapContainer {
        flex-direction: column;
    }
    .mapCraddle {
        width: 95%;
    }
}