#tileDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 60px 20px 50px 20px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    /* background-color: rgba(0, 0, 0, 0.7); */
}
.tileParent {
    background-image: url('./assets/tiles/tilesbg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* body {
    height: 500px;
    padding: 0;
    margin: 0;
} */

.tile {
    text-align: left;
    border-radius: 15px;
    padding: 20px 20px;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    width: 40%;
    text-emphasis-style: none;
    font-weight: 700;
    font-size: 1.3rem;
    background-color: red;
    text-decoration: none;
    transition: transform 0.25s ease-in-out;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
}
.tile:hover {
    transform: scale(1.05);
}

@media screen and (max-width: 950px) {
    .tile {
        width: 100% !important;
    }
}