body {
    font-family: 'Barlow', sans-serif;
    background: rgb(247, 250, 251);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* position: relative; */
    overflow:clip;
    width:100%;
}

.numbers-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    width: 100vw;
    background: url('https://best20.in/wp-content/uploads/2022/12/NIT-Jalandhar-Image-2048x964.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

.numbers-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.number-item {
    text-align: center;
    color: white;
    z-index: 2;
}

.number-item p {
    font-size: 72px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.number-item h2 {
    font-size: 28px;
    margin-top: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.number-item .icon {
    font-size: 36px;
    color: rgb(31, 172, 220);
    transition: color 0.3s ease-in-out;
}

.number-item:hover .icon {
    color: orange;
}

footer {
    background-color: #333;
    color: #f7f7f7;
    padding: 20px;
    text-align: center;
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
}
